header {
    float:right;
    font-size:20pt;
    margin:0;
}
header h3,h5 {
    margin:5pt;
}

body {
    margin: 0;
}
/*Title section with month navigation*/
.calenderHeader {
    width:100%;
    display:flex;
    flex-direction: column;
    align-content: center;
}

.calenderHeader h1 {
    text-align: center;
    font-size:40pt;
    margin-top:10pt;
    margin-bottom:10pt;
}
.month {
    display:flex;
    justify-content: center;
}
.arrows {
    width: 20pt;
    height: 20pt;
    cursor: pointer;
}

.calender {
    margin:10pt;
    border:1px solid black;
}
.month-grid {
    display:grid;
}
.date-grid {
    width:20pt;
    height:20pt;
}