#container {
    position: relative;
}

.eventpanel {
    height:100%; 
    width: 25%;    
    background-color: silver;
    flex-wrap: wrap;
    font-size: 25pt;
    font-family: Roboto, sans-serif;
    color: white;
    position: absolute;
    z-index:5;
    right: 0;
    margin: 0;
    border: none;
}
form {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.eventpanel img {
    width:20pt;
    height:20pt;
}
input {
    width: 85%;
    height: 35px;
    display: block;
    font-family: Roboto, sans-serif;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 20px;
    margin:0;
    margin-bottom: 10pt;
}
label {
    display: block;
}
textarea {
    width: 85%;
    height: 90px;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    resize: none
}
#subbutton {
    border-radius: 4px;
    background: #0099ff;
    color: white;
    border: none;
    height: 40px;
    margin:0;
}
.closeButton {
    float:right;
    margin:5pt;
    cursor: pointer;
}


/*phone media query*/
@media screen and (max-width: 900px) {
    .eventpanel {
        width:100%;
    }
    .mobileDisplay {
        display:none;
    }
}
@media screen and (min-width: 900px) {
    .closeButton {
        display:none;
    }
}