@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background-image: url("../assets/cloud.jpg");
    font-family: 'Roboto';
    margin: 0px;
}
.header-top{
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -15px;
    color: white;
}
.div2{
    position: relative;
    text-align: center;
}
/* Remove margins and padding from the list */
.goals ul {
    margin: 0;
    padding: 0;
}
/* Style the list items */
.goals ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    text-align: left;
}
/* Darker background-color on hover */
.goals ul li {
    background: white;
    color: black;
    margin: 20px;
    border-radius: 5px;
}
.goals{
    margin:auto;
    margin-top: 40px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
#greeting {
    font-size: 11pt;
    font-weight: 500;
    color: #3f3f3f;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 20px;
}
#header {
    text-align: center;
    color: #3F3F3F;
}
#subbutton {
    background-color: #59C657;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    display:block;
    margin:auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
input[type="checkbox"] {
    visibility: hidden;
}
.greenBackground {
    background-color: #59C657;
}
.cbdiv {
    background: white;
}
.cbdiv.chosen {
    background: #59C657;
    color: white;
}
#select {
    font-size: 14pt;
    font-weight: 500;
    color: #3f3f3f;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 20px;
}