#navbar {
    display: table;
    width: 70%;
    margin-top: 0px;
    height: 6.5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom: 0px;
    background-color: white;
    overflow: hidden;
}   
#navbar ul {
    display: table-row;
    position: relative; 
}
#navbar li {
    display: table-cell;
    border: 0.5px solid #040730;
    border-collapse: collapse;
}
.navitext {
    color:#484747;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;       
}
.home:hover{
    background-color: #42AFE6;
    transition: all ease-in-out 200ms;
}
.profile:hover{
    background-color: #42AFE6;
    transition: all ease-in-out 200ms;
}
.search:hover{
    background-color: #42AFE6;
    transition: all ease-in-out 200ms;
}
.guide:hover{
    background-color: #42AFE6;
    transition: all ease-in-out 200ms;
}
.line{
    position: absolute;
    border: 0.5px solid #DCDCDC;
    margin-top: 0px;
    height: 51px;
    width: 100%;
    z-index:-1;
    background-color: #040730;
}
.title{
    width: 100vw;
    height: 10.5vh;
    
}
.titleword{
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    position: relative;
    top: 30%;
    text-align: left;
    font-weight: 600;
    float: left;
}
#navbar div{
    text-align: center;
    height: 51px;
    margin: 0px;
    line-height: 51px;
}
.logo{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 60px;
    position: relative;
    margin-left: 5%;
    top: 0.5vh;
    text-align: left;
    float: left;
    background-color: white;
}
.test{
    position: absolute;
    float: right;
    margin: 0px;
    left: 95%;
    top: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
}
.rest{
    width: 18vw;
}