body, html {
    overflow-x: hidden;
}
.container{
    margin-top: 40px;
}
.logoutbutton {
    background-color: #42AFE6 ;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    margin:auto;
    color: #484747;
    border-radius: 25px;
}
.logoutbutton:hover {
    background-color: #040730;
    color: white;
    font-weight: bold;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #3f3f3f;
}
#homeTop{
    width: 100%;

}
#homeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


footer{
    bottom: 0;
    left: 0;
    height: 64px;
    width: 100%;
    z-index: 2;
    position: fixed;
    margin: auto;
    margin-bottom:10pt;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footbutton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    width:75%;
    height: 100%;
}
.footbutton:hover {
    content: url(../images/plus_full.svg);
}

.home{
    margin-top: 0px;
    margin-left: 0px;
}
#username {
    margin-top: 0px;
}

@media screen and (max-width: 1200px){

.logoutbutton {

    width: 30%;
}



}

